.button-container {
  margin: 20px 0;

  .reset-button {
    background-color: #00ced1;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;
    height: 50px;
    width: 120px;
  }
}
