.button-container {
  margin-top: 20px;

  .reset-button {
    background-color: #00ced1;
    border: none;
    border-radius: 8px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;
    height: 50px;
    transition: all 0.4s ease 0s;
    width: 120px;

    &:hover {
      background: #434343;
      box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
      letter-spacing: 1px;
      transition: all 0.4s ease 0s;
    }
  }
}
