.container {
  height: 100vh;
  margin: 0 auto;
  padding: 30px 30px;
}

.cards-container {
  display: flex;
  height: 100%;
  justify-content: center;

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1000px;

    .card {
      border: 1px solid;
      border-radius: 2%;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      cursor: pointer;
      height: 20%;
      margin: 5px;
      width: 20%;

      .card-inner {
        border-radius: inherit;
        height: 100%;
        position: relative;
        width: 100%;
        transition: transform 0.8s;
        transform-style: preserve-3d;

        .card-front,
        .card-back {
          backface-visibility: hidden;
          height: 100%;
          position: absolute;
          width: 100%;
        }

        .card-front {
          background-color: red;
        }

        .card-back {
          background-color: blue;
          color: white;
          font-size: 22px;
          font-weight: 600;
          transform: rotateY(180deg);
          text-align: center;
        }
      }
    }
  }
}

.flip-card {
  transform: rotateY(180deg);
}
